<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTFOLIO</title>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Caveat&family=Kalam:wght@700&family=Poppins&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3e7e1fbcaa.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="header1">
    <div class="container">
        <nav>
            <img src="/static/images/image2.png" class="logo">
            <ul id="sidemenu">
                <li><a href="{% url 'home' %}">HOME</a></li>
                <li><a href="{% url 'gallery' %}">GALLERY</a></li>
                <li><a href="{% url 'about' %}">ABOUT ME</a></li>
                <li><a href="{% url 'contact' %}">CONTACT</a></li>
                <i class="fa-solid fa-circle-xmark" onclick="closemenu()"></i>
            </ul>
            <i class="fa-solid fa-bars" onclick="openmenu()"></i>
        </nav>
    </div>

<div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-ttile">Contact Me</h1>
                <p><i class="fa-solid fa-paper-plane"></i>royamit471@gmail.com</p>
                <p><i class="fa-solid fa-phone"></i>+91-8617201576 / +91-9836820429</p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/xramitfb/"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/amitt_edits/?next=%2F"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://wa.me/9836820429"><i class="fa-brands fa-whatsapp"></i></a>
                    <a href="https://www.linkedin.com/in/amit-roy-9b00a27a"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <a href="/static/images/Curriculum vitae.pdf" download class="btn btn2">Download CV</a>
            </div>
            <div class="contact-right">
                <form method="post" action="{% url 'saveenquiry' %}">
                    {% csrf_token %}
                     <input type="text" name="Name" placeholder="Your Name" required>
                     <input type="email" name="Email" placeholder="Your Email" required>
                     <textarea name="Message" rows="6" placeholder="Add your message" required></textarea>
                     <button type="submit" class="btn btn2">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="copyright">
            <p>Copyright © Amit 2023. All Rights Reserved</p>
        </div>
</div>

<script>

    var sidemenu = document.getElementById("sidemenu");

    function openmenu(){
        sidemenu.style.right = "0"

    }
    function closemenu(){
        sidemenu.style.right = "-200px"
        
    }

</script>

</body>
</html>